<mat-toolbar class="mat-elevation-z8"  style="height: 50px" >
  <div style="margin-left:5px">
    SchedulEX
  </div>

</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidenav="matSidenav" [opened]="true">

    <h4 class="name">John Smisth</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button style="margin-bottom:16px" mat-button class="menu-button" routerLink="/">
      <span>Home</span>
    </button>
    <button style="margin-bottom:16px"  mat-button class="menu-button" routerLink="/message">
      <span>Schedule Message</span>
    </button>
    <button style="margin-bottom:16px"  mat-button class="menu-button" routerLink="/status">
      <span>Schedule Status</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content style="margin-left: 200px; z-index: 100;">
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>